<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting Machine - Start</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Start Voting</h2>
    <form method="post" action="/vote/start">
        <div class="form-group">
            <label for="numberOfVoters">Enter the number of voters:</label>
            <input type="number" class="form-control" id="numberOfVoters" name="numberOfVoters" required>
        </div>
        <button type="submit" class="btn btn-primary">Start Voting</button>
    </form>
</div>

</body>
</html>
